<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mingle"
        tools:targetApi="31">
        <activity
            android:name=".activity.GezdigimYerlerDetayActivity"
            android:exported="false" />
        <activity
            android:name=".activity.GezdigimYerlerDuzenlemeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.GezdigimYerlerEkleActvity"
            android:exported="false" />
        <activity
            android:name=".activity.GezdigimYerlerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ornekActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FilmDetayActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FilmEkleActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FilmDuzenleActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FilmlerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AniDuzenlemeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.KitapDuzenlemeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AniDetayActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AniEkleActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AnilarActivity"
            android:exported="false" />
        <activity
            android:name=".activity.KitapDetayActivity"
            android:exported="false" />
        <activity
            android:name=".activity.KitapEkleActivity"
            android:exported="false" />
        <activity
            android:name=".activity.OkudugumKitaplarActivity"
            android:exported="false" />
        <activity
            android:name=".girisactivity.KayitOlAktivity"
            android:exported="false" />
        <activity
            android:name=".girisactivity.SifremiUnuttumAktivity"
            android:exported="false" />
        <activity
            android:name=".girisactivity.GirisEkraniActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ListelemeSayfasiActivity"
            android:exported="false" />
    </application>

</manifest>